.headerSSS {
    background:rgb(0, 0, 0,.1);
    margin-bottom: 1.45rem;
    height:140px;
    border-bottom:solid #ddd 1px;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.navWrapper {
  margin: 0 auto;
  padding: 1.45rem 50px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  height:100%;
}

.navLeft {
    display:flex;
    align-items:center;
    width:50%;
}

.navLeft a{
    margin-left:20px;
    
}

.navMiddle {
    width:1px;
    background-color:#ddd;
    height:140px;
    position: absolute;
    top:0;
}

.navRight{
    width:50%;
    display:flex;
    justify-content: flex-end;
}



.container {
    display:flex;
    z-index: 999;
    background:blue;
    height:100vh;
    position:fixed;
    left: 0;
    top: 0;
    width:100vw; 
    height:100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    } 
